@import '../../style/style.scss';

.char-search {
  margin-top: 30px;
  padding: 25px;

  width: 425px;

  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);


  &__wrapper {
    margin-top: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
  }

  &__input {
    margin-right: 24px;
    padding: 0 10px;
    width: 250px;
    height: 38px;

    background: transparent;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    outline: none;
    transition: all 0.3s;
  }

  &__error {
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $main-color;
  }
  &__critical-error {
    margin-top: 25px;
  }
  &__success {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #03710E;
}
}